.navigation {
	border-width: 5px
	font-size: 30px;
	border-color: black;
	width: 98.5%;
	border-style: solid;

	position: fixed;
	background-size: cover;
	background-image: url("../Assets/background.jpg");
	color: white;
}

.nav a {
	text-decoration: none;
	color: white;
}

.nav a:hover {
	font-size: 120%;
	color: orange;
	transition: all 0.5s cubic-bezier(0.42, 0, 0.02, 2.17);
}

a {
	text-decoration: none;
}


.nav {
	margin-top: 10px;
	padding: 10px;
	display: flex;
	float: right;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;

}

.navigationPanel {
	align-items: center;
	float: right;
	margin-left: 30px;
	/*justify-content: flex-end;*/

}

.intro {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	/*background-image: url("../Assets/contactpict.jpg");*/
	/*background-image: url("../Assets/background.jpg");*/
	/*width: 99.5%;*/
	background-size: cover;
	font-family: 'Amatic SC', cursive;
	color: black;
	padding-top: 100px;
	border-width: 3px;
	justify-content: center;
}



.icon {
	/*width: 10%;*/
	font-size: 35px;
	margin-left: 30px;
	margin-right: 30px;
	padding-bottom: 20px;
	color: gray;
}

.icon:hover {
	transform: scale(1.2);
	height: 35px;
	color: orange;
	transition: all 0.5s cubic-bezier(0.42, 0, 0.02, 2.17);
	display: block;

}

.icon:hover + .popUp {
	height: 35px;
	color: orange;
	transition: all 0.5s cubic-bezier(0.42, 0, 0.02, 2.17);
	display: block;
	font-size: 20px;

}
.icons {
	display: flex;
	text-align: center;
	justify-content: center;

}

.popUp{
	text-decoration: none;
	display: none;
}

.begAnimate {
	display: flex;
	justify-content: center;
	padding: 30px;
	font-size: 50px;
}


.wrapper {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.aboutMe {
	display: flex;
	border-style: solid;
	border-width: 3px;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-wrap: wrap;

}
.description {
	width: 40%;
	font-family: 'Alegreya Sans SC', sans-serif;

}
.descriptionBox {
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.face {
	margin-right: 100px;
	margin-left: 100px;
}


.projects {
	background-image: url("../Assets/background.jpg");
	background-size: cover;
	padding: 10px;
	border-style: solid;
	border-width: 3px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.projectTitle {
	font-size: 30px;
	font-weight: 100px;
	color: orange;
}

.projectImage:hover {
	transform: scale(1.2);
	transition: all 0.5s cubic-bezier(0.42, 0, 0.02, 2.17);
}

.projectPanel {
	display: inline-flex;
	border-color: white;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20;
	padding: 20;
	border-bottom-style: solid
}

.projectDescription {
	color: white;
	width: 50%;
	margin-left: 50;
	font-size: 18px;
	margin-bottom: 20;
	font-size: 18px;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.iconic {
	font-size: 30px;
	color: white;
}

.iconic:hover {
	transform: scale(1.2);
	transition: all 0.5s cubic-bezier(0.42, 0, 0.02, 2.17);

}

.tech {
	display: flex;
}

.techStack {
	display: flex;
	align-items: center;
	color: black;
	border-style: solid;
	border-color: orange;
	padding: 5px;
	font-size: 15px;
	margin: 5px;
	border-width: 1px;
	border-radius: 90px;
	margin-left: 10;
	background-color: orange;
}

.contactMe {
	background-image: url("../Assets/background.jpg");
	background-size: cover;
	margin-top: 10px;
	border-style: solid;
	border-width: 3px;
	padding: 20px;
	font-size: 18px;
	justify-content: center;
}
.contactMeSign {
	display: flex;
	justify-content: center;
}

.inputInfo {
	display: flex;
	justify-content: center;

}

.githubLogo {
	color: white;
}